.outer-container {
  position: relative;

  margin: auto;
}

.inner-container {
  position: absolute;

  width: 100%;
}

.row {
  max-width: $max-content-width;

  margin: $gutter auto;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.content-container {
  display: flex;
  flex-direction: row;

  margin: $gutter;
  padding: $gutter;

  border-radius: 0.1rem;
  background: $brand-secondary;
  box-shadow: $brand-shadow;

  &__img {
    padding: $gutter * 2;
  }

  &__info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-around;
  }
}

.puppy-pic {
  width: 20.9rem;
  height: 19rem;
}

.info {

  padding: 0 $gutter;

  &__description {
    margin: $gutter 0;
  }

  &__user-text {
    width: 100%;
    border-bottom: $brand-border;

  }
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__button {
    margin: $gutter;

    padding: $gutter;

    border: 0;
    border-radius: 0.25rem;

    background: $brand-primary;
    color: $brand-white;

    &:hover {
      cursor: pointer;
    }

  }
}
