.navbar-container {
  position: relative;
  margin: 0;
  padding: $gutter;

  background: $brand-primary;

  z-index: 2;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  max-width: $max-content-width;
  margin: auto;


  &__puppies {
    margin: 0;
    padding: $gutter;

    color: $brand-white;
  }

  &__button {
    align-self: center;

    border: 0;
    background: $brand-primary;
    color: $brand-white;

    &:hover {
      color: $brand-black;
      cursor: pointer;
    }
  }
}
