$max-content-width: 60rem;

$gutter: 0.5rem;

$brand-primary: #ff7425;
$brand-secondary: #fafafa;
$brand-white: #fff;
$brand-black: #000;
$dropdown-background: #696969;

$brand-border: 0.1rem solid #000;
$brand-shadow: 0.3rem 0.3rem 0.7rem #888;
